body {
    font-family: Arial;
    text-align: center;
    color: white;
    font-size: 20px;
}

.blue-bg {
    background-color: #001146;
}

.orange-bg {
    background-color: rgb(255,165,0);
}

.button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 40px;
}

button {
    padding: 20px;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.group-btn {
    background: white;
    color: #001146;
}

.group-btn.selected {
    background: lime;
}

.answer-btn {
    background: #001146;
    color: white;
}

.answer-btn:hover {
    background: purple;
}

.results-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 30px;
}

.results-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    color: #001146;
    font-size: 18px;
}

.results-table th {
    background-color: #001146;
    color: white;
    padding: 10px;
}

.results-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.results-table tr:hover {
    background-color: #f2f2f2;
}


#waitingMessage {
    font-size: 40px;
    margin-top: 200px;
    text-align: center;
}